{
  "extends": [],
  "parser": "@typescript-eslint/parser",
  "settings": {
  },
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    //Stylistic
    "semi": "error",
    "array-bracket-newline": ["error", "consistent"],
    "array-bracket-spacing": ["error", "never"],
    "array-element-newline": ["error", "consistent"],
    "object-property-newline": [
      "error",
      { "allowAllPropertiesOnSameLine": true }
    ],
    "block-spacing": "error",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "eol-last": ["error"],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "function-call-argument-newline": ["error", "consistent"],
    "jsx-quotes": "error",
    "key-spacing": "error",
    "keyword-spacing": ["error", { "after": true, "before": true }],
    "multiline-ternary": ["error", "always-multiline"],
    "new-parens": "error",
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-lonely-if": "error",
    "no-multi-assign": "error",
    "no-multiple-empty-lines": "error",
    "no-plusplus": "error",
    "no-trailing-spaces": "error",
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "object-curly-newline": ["error"],
    "object-curly-spacing": ["error", "always"],
    "operator-assignment": ["error", "always"],
    "operator-linebreak": ["error"],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "return" },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"]
      }
    ],
    "quote-props": ["error", "as-needed"],
    "quotes": ["error"],
    "semi-spacing": ["error"],
    "semi-style": ["error"],
    "sort-vars": ["error"],
    "space-before-function-paren": [
      "error",
      { "anonymous": "never", "named": "never", "asyncArrow": "always" }
    ],
    "space-in-parens": ["error"],
    "space-unary-ops": ["error"],
    "spaced-comment": ["error"],
    "switch-colon-spacing": ["error", { "after": true, "before": false }],
    "template-tag-spacing": ["error", "never"],
    "wrap-regex": ["error"],

    //ECMAScript 6
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": ["error"],
    "constructor-super": ["error"],
    "no-class-assign": ["error"],
    "no-constant-condition": ["error"],
    "no-const-assign": ["error"],
    "no-dupe-class-members": ["error"],
    "no-duplicate-imports": ["error"],
    "no-new-symbol": ["error"],
    "no-this-before-super": ["error"],
    "no-useless-computed-key": ["error"],
    "no-useless-constructor": ["error"],
    "no-useless-rename": ["error"],
    "object-shorthand": ["error"],
    "prefer-arrow-callback": ["error"],
    "prefer-const": ["error"],
    //    "prefer-destructuring": ["error"],
    "prefer-rest-params": ["error"],
    "prefer-template": ["error"],
    "require-yield": ["error"],
    "rest-spread-spacing": ["error"],
    "symbol-description": ["error"],

    //Possible
    "for-direction": "error",
    "getter-return": "error",
    "no-setter-return": "error",
    "no-async-promise-executor": "error",
    "no-compare-neg-zero": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-ex-assign": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-obj-calls": "error",
    "no-template-curly-in-string": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "no-unsafe-finally": "error",
    "no-unsafe-negation": "error",
    "require-atomic-updates": "error",
    "use-isnan": "error",
    "valid-typeof": "error",
    //Best Practices
    "no-var": "error",
    "require-await": "error",
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "default-case": "error",
    "curly": "error",
    "dot-notation": "error",
    "guard-for-in": "error",
    "max-classes-per-file": 2,
    "no-empty-function": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-fallthrough": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-self-assign": ["error", { "props": true }],
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-labels": "error",
    "no-useless-call": "error",
    "no-useless-catch": "error",
    "no-useless-return": "error",
    "no-void": "error",
    "no-with": "error",
    "prefer-promise-reject-errors": "error",
    "prefer-regex-literals": "error",
    "radix": "error",
    "wrap-iife": "error"
  }
}
