version: "3.8"

services:
  redis:
    env_file: .env
    container_name: redis-client
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - ./redis/data:/data
    restart: unless-stopped

  wg:
    env_file: .env
    build: .
    container_name: wireguard
    volumes:
      - ./wg-config:/etc/wireguard
    ports:
      - "8181:8181"
      - "3232:3232"
      - "51820:51820/udp"
      - "51821:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    depends_on:
      - redis

volumes:
  wireguard:
